<!--<app-ingredient-list></app-ingredient-list>-->
<mat-toolbar class="app-toolbar no-print mat-toolbar mat-primary mat-toolbar-multiple-rows" color="primary">

 <a _ngcontent-c1="" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false" href="/login">
     <span class="mat-button-wrapper">Recettes</span>
 </a>
    
 <a _ngcontent-c1="" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false" href="/recipe/5a830a5e772d8e5875082767">
     <span class="mat-button-wrapper">Mes Ingredients</span>
 </a>
    
 <a _ngcontent-c1="" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false" href="/recipe/5a830a5e772d8e5875082767">
     <span class="mat-button-wrapper">Mon suivi</span>
 </a>
    
 <div style="flex-grow: 1"></div>
 <button aria-haspopup="true" mat-icon-button="" mattooltip="Select a theme!" tabindex="-1" class="mat-icon-button" aria-describedby="cdk-describedby-message-0" cdk-describedby-host="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="mat-button-wrapper">
yo
 </span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div></button>
    
    
</mat-toolbar>

<router-outlet></router-outlet>

