<h2>{{currentUser.name}}'s profile</h2>

<div>Email : {{currentUser.email}}</div>

<form (ngSubmit)="update()">
  <div>
    <label for="sexe">Gender</label>
    <input type="text" name="gender" [(ngModel)]="currentUser.sexe">
  </div>

  <div>
    <label for="sexe">Age</label>
    <input type="text" name="age" [(ngModel)]="currentUser.age">
  </div>
  <div>
    <label for="sexe">Height</label>
    <input type="text" name="height" [(ngModel)]="currentUser.taille">
  </div>
  <div>
    <label for="sexe">Weight</label>
    <input type="text" name="weight" [(ngModel)]="currentUser.poids">
  </div>
  <div>
    <label for="sexe">Tabacco</label>
    <input type="text" name="tabacco" [(ngModel)]="currentUser.tabac">
  </div>
  <div>
    <label for="sexe">Activity</label>
    <input type="text" name="activity" [(ngModel)]="currentUser.activite">
  </div>
  <div>
    <label for="sexe">Nutrition</label>
    <input type="text" name="nutrition" [(ngModel)]="currentUser.alimentation">
  </div>

  <div>
    <button type="submit">Register</button>
  </div>

</form>



<h2>Users</h2>
<ul>
  <li *ngFor="let user of users">
    <span >{{user.name}}</span> {{user.email}}
  </li>
</ul>

<div>
  <button (click)="logout()">Logout</button>
</div>
